<!-- public/index.html -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<base href="/">

	<title>Collab-Plat</title>

	
	<!-- CSS -->
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/layout.css" />
	<script src="libs/jquery/dist/jquery.min.js"></script>
	<!-- custom styles -->
	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://codemirror.net/theme/monokai.css">
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">

		<!-- HEADER -->
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<a class="navbar-brand" href="/">Collab-Plat</a>
				<ul class="nav navbar-nav">
                    <li><a href="/demo">OT Demonstration</a></li>
                    <li><a href="/about">About Us</a></li>
				</ul>
			</div>
		</div>
        <br>
        <h2>Our Team</h2>
        <br>
        <p>
            <br>
            1. 101403139 - Pranjul Azad<br>
            2. 101403155 - Rohan Arora<br>
            3. 101403159 - Sachet Dhar<br>
            4. 101403179 - Soumik Pradhan<br>
            </p>
            <br>
            <br>
        <button type="button" onClick="location.href='https://github.com/Dallas-tu/Collab-Plat'" class="btn btn-primary">Github</button>
    </div>
</body>

</html>