<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      
        Demonstration of OT with a central server
      
      &ndash; OT Explained
    </title>
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="libs/codemirror/lib/codemirror.css" />
    <link reL="stylesheet" href="css/visualization.css" />
  </head>
  <body>
    <script src="libs/underscore/underscore.js"></script>
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/ot/dist/ot.js"></script>
    <script src="libs/codemirror/lib/codemirror.js"></script>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <a class="navbar-brand" href="/">Collab-Plat</a>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/demo"> OT Demonstration</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <h3><abbr title="Operational Transformation">OT</abbr> Demonstration </h3>
      <div id="wrapper" class="container">
<footer>
DEMO
</footer>
</div>
<script src="libs/bootstrap/js/tooltip.js"></script>
<script src="libs/bootstrap/js/popover.js"></script>
<script src="libs/d3/d3.js"></script>
<script src="libs/ot/lib/server.js"></script>
<script src="js/visualization.js"></script>
<script>
$(document).ready(function () {
  // Initialize Visualization
  new Visualization("Lorem ipsum").insertBefore($('#wrapper footer'));
});
</script>
    </div>
  </body>
</html>